@model IEnumerable<ExplanatoryNote>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div id="NewNoteModal" class="user-modal" style="display:none !important">
    <div class="modal-content ">
        <div class="modal-controls" style="width:100%">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4 pr80" style="width: 100%;text-align: end;">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
                <button class="btn base-btn btn-file-input"
                        onclick="closeModal('NewNoteModal')">
                    X
                </button>
            </div>
        </div>
        <div style="max-height: 65vh;">
            <form class="form-horizontal" asp-controller="Home" asp-action="Create" method="post" enctype="multipart/form-data">
                @Html.Partial("/Views/Home/NoteFields.cshtml", new ExplanatoryNote())
                <div class="fx-row pr80" style="justify-content:end">
                    <button type="submit" class="btn base-btn glyphicon glyphicon-edit pr80 b40" style="text-align: end;" formmethod="post" formaction="/Home/Create">
                        <span>Создать</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="EditNoteModal" class="user-modal" style="display:none !important">
    <div class="modal-content">
        <div class="modal-controls" style="width:100%">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4 pr80" style="width:100%;text-align: end;">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
                <button class="btn base-btn btn-file-input" 
                        onclick="closeModal('EditNoteModal')">
                    X
                </button>
            </div>
        </div>
        <div style="max-height: 65vh; ">
            <form class="form-horizontal" asp-controller="Home" asp-action="Update" method="post" enctype="multipart/form-data">
                <div id="NoteFields"></div>                
                <div class="fx-row pr80" style="justify-content:end">
                    <button type="submit" class="btn base-btn glyphicon glyphicon-edit pr80 b40" formaction="/Home/Update" formmethod="post" style="text-align: end;">
                        <span>Сохранить</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="fx-colN" style="background-color: var(--mc-wt); margin-top:50px">
    <hr class="t20" />
    <div class="fx-rowN btn-cont">
        <div class="file-input-wrapper">
            <button class="btn base-btn glyphicon glyphicon-plus btn-file-input" style="cursor:pointer;justify-content: center;"
                    onclick="showDocumentModal('NewNoteModal')"></button>
            <label for="chkNewMess" class="check-custom-label">Новая записка</label>
        </div>
    </div>
    <hr class="b20" />
    <div class="mrgn_l mrgn_r">
        <div style="display: grid; grid-template-columns: 60px 160px 160px 160px auto 10%; background-color: lightgray; justify-content: flex-start; ">
            <div class="tbl-cap" style="justify-self:center">#</div>
            <div class="tbl-cap">Кому</div>
            <div class="tbl-cap">От кого</div>
            <div class="tbl-cap">Лицо</div>
            <div class="tbl-cap">Действие</div>
            <div class="tbl-cap"></div>
        </div>
        <div id="NotesResult" style="flex-grow:1;max-height:60vh;height:60vh; overflow-y:scroll; border:1px solid lightgrey">
            @Html.Partial("/Views/Home/Notes.cshtml")
        </div>
    </div>
</div>
<script>

    function closeModal(modal) {
        var el = document.getElementById(modal);
        if (el != undefined) {
            el.style.display = "none";
        }
    }

    function showDocumentModal(modal) {
        event.preventDefault();
        var el = document.getElementById(modal);
        if (el != undefined) el.style.display = "block";
    };

    function showEditModal(modal, id) {
        event.preventDefault();
        var url = '/Home/Edit?id=' + id;
        $('#NoteFields').load(url, $(this).attr('rel'), function () {
            var el = document.getElementById(modal);
            if (el != undefined) el.style.display = "block";
        });
    };
</script>